$blue: #016cc7;
$blue-icon: #0067c5;
$yellow: #fcd93b;
$dark-yellow: #B8A13A;
$white: #fff;
$red: #dd5138;
$gray: #555;
$dark-gray: #3A3A3A;
$light-gray: #F8F8F8;
$footer-gray: #333;
$footer-title-gray: #ccc;
$title-gray: #777;
$black: #000;

