* {
  box-sizing: border-box;
}

.container {
  max-width: 95%;
  margin: auto;
}

.btn {
  padding: 15px 40px;
  border-radius: 5px;
  background-color: $red;
  border-style: none;
  color: $white;
  font-size: 13px;
}