// xs = < 500px
// sm = < 700px
// md = < 900px
// lg = < 1200px
// xl = > 1200px

@media (min-width: 1200px) {
  .intro-rocket__img {
    max-height: 100%;
    max-width: unset;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 83%;
    margin: auto; 
  }
}

@media (min-width: 700px) {
  .footer{
    justify-content: space-between;
    height: 80px;
    display: flex;
  }
}
