.details {
  margin-bottom: 50px;
  &-container {
    
  }
  &__title {
    text-align: center;
  }
  &-description {
    display: flex;
    flex-flow: row wrap;
  }
  &-box {
    flex: 1 1 250px;
    padding: 20px;
    text-align: center;
    &__icon {
      font-size: 50px;
      color: $blue-icon; 
    }
    &__title {
      font-size: 20px;
      color: $gray;
    }
  }
}