.tickets {
  color: $gray;
  background-color: $yellow;
  text-align: center;
  margin-bottom: 30px;
  &-container {
    
    padding: 30px 0;
  }
  &-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    gap: 50px;
    div {
      flex: 1 1 300px;
    }
    &__title {
      font-size: 20px;
    }
    &__price {
      font-size: 50px;
      color: $red;
      margin: 0;
    }
  }
}